:root {
  /* colors */
  --main-color: #653c80;
  --sub-color: #2f2733;
  --title-color: #ebf0fa;
  --text-color: rgb(128, 128, 128);
  --active-color: rgb(85, 231, 41);

  /* fonts */
  --title-font: "Zen Kurenaido", sans-serif;
  --text-font: "Poiret One", cursive;

  /* vars */
  --title-size: 36px;
  --subtitle-size: 24px;
  --text-size: 18px;
}
