:root {
  /* Page sizes */
  --true-vh: 1vh;
  /* colors */
  --main-color: #653c80;
  --sub-color: #2f2733;
  --title-color: #ebf0fa;
  --text-color: rgb(160, 160, 160);
  --active-color: rgb(85, 231, 41);

  /* fonts */
  --title-font: "Zen Kurenaido", sans-serif;
  --text-font: "Poiret One", cursive;

  /* fonts sizes */
  --title-size: 40px;
  --subtitle-size: 30px;
  --text-size: 22px;
}

@media only screen and (max-width: 768px) {
  :root {
    /* fonts sizes */
    --title-size: 30px;
    --subtitle-size: 20px;
    --text-size: 14px;
  }
}
